{% extends 'base.html' %} {% load static %} {% block moreHead %}
<link href="{% static 'css/home.css'%}" rel="stylesheet" type="text/css" />
{% endblock %}{% block content %}
<div class="main">
  {% for post in posts %}
  <section class="cardViewSection">
    <div class="cardView">
      <div class="cardHeader">
        <div class="userNickName">
          <a href="{%url 'profile' post.writer.id%}"
            >{{post.writer.nickName}}</a
          >
        </div>
      </div>
      <div class="cardImage">
        <img src="{{post.image.url}}" />
      </div>
    </div>

    <div class="cardInfo">
      <div class="infoLeft">
        <img src="{% static '/img/liked.png'%}" alt="좋아용" class="feedImg" />
        <img
          src="{% static '/img/comment.png'%}"
          alt="코멘트"
          class="feedImg"
        />
        <img src="{% static '/img/upload.png'%}" alt="업로드" class="feedImg" />
      </div>
      <div class="infoRight">
        <a href="{% url 'edit' post.id%}">
          <img src="{% static '/img/edit.png'%}" alt="수정" class="feedImg" />
        </a>
        <a href="{% url 'delete' post.id%}">
          <img src="{% static '/img/delete.png'%}" alt="삭제" class="feedImg" />
        </a>
      </div>
    </div>
    <div class="comment">
      comment1<br />
      comment2<br />
    </div>
    <div class="comment_form">
      <form action="">
        <input type="text" placeholder="댓글 입력.." />
      </form>
    </div>
  </section>
  <br />
  <br />
  {% endfor %}
</div>
{% endblock %}
