body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.left_box,
.right_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  margin: 0 10px;
  height: 22px;
}

.line > img {
  height: 30px;
}
